body {
  background: linear-gradient(45deg, #0d3b66, #faf0ca);
  color: #faf0ca;
  font-family: "Arial", sans-serif;
  min-height: 100vh;
}
a {
  text-decoration: none;
}

.custom-container {
  max-width: 1200px;
  width: 90%;
  padding: 30px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.custom-alert {
  background-color: rgba(255, 85, 85, 0.8);
  color: #faf0ca;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 1.1em;
}

.custom-row > div {
  background-color: rgba(13, 59, 102, 0.8);
  color: #faf0ca;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, background-color 0.3s ease;
  text-align: center;
}

.custom-row > div:hover {
  transform: scale(1.05);
  background-color: rgba(242, 92, 84, 0.9);
}
